/* Chat.css */

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-right: 20px;
    width: 60%;
    float: right;
}
  
.sent-messages,
.received-messages {
    background-color: #c4d9f0;
    color: #0056b3;
    width: 100%; 
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
  
.message {
    margin-bottom: 2px;
    font-size: small;
}
  
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
input[type="text1"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text2"] {
    width: 300%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
}
  
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}
  
.unauthenticated-message,
.error-message {
    color: red;
    margin-top: 10px;
}
  
